/* 安知鱼前置美化 Start*/
/*--------------------------------------*/

/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */
@font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
    font-display: swap;
    font-weight: lighter;
  }
  
  div#menus {
    font-family: "ZhuZiAYuanJWD";
  }
  h1#site-title {
    font-family: ZhuZiAYuanJWD;
    font-size: 3em !important;
  }
  a.article-title,
  a.blog-slider__title,
  a.categoryBar-list-link,
  h1.post-title {
    font-family: ZhuZiAYuanJWD;
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    /* 可以定义图标大小 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* 时间轴生肖icon */
  svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1em;
    height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  
  .icon-zhongbiao::before {
    color: #f7c768;
  }
  
  /* bilibli番剧插件 */
  #article-container .bangumi-tab.bangumi-active {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-ahoverbg);
    border-radius: 10px;
  }
  a.bangumi-tab:hover {
    text-decoration: none !important;
  }
  .bangumi-button:hover {
    background: var(--anzhiyu-theme) !important;
    border-radius: 10px !important;
    color: var(--anzhiyu-ahoverbg) !important;
  }
  a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
  }
  .bangumi-button {
    padding: 5px 10px !important;
  }
  
  a.bangumi-tab {
    padding: 5px 10px !important;
  }
  svg.icon.faa-tada {
    font-size: 1.1em;
  }
  .bangumi-info-item {
    border-right: 1px solid #f2b94b;
  }
  .bangumi-info-item span {
    color: #f2b94b;
  }
  .bangumi-info-item em {
    color: #f2b94b;
  }
  
  /* 解决artitalk的图标问题 */
  #uploadSource > svg {
    width: 1.19em;
    height: 1.5em;
  }
  
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  #page-header:not(.not-top-img):before {
    background-color: transparent !important;
  }
  
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 文章页面正文背景 */
  div#post {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 分页页面 */
  div#page {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 归档页面 */
  div#archive {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 标签页面 */
  div#tag {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 分类页面 */
  div#category {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"] #recent-posts > .recent-post-item {
    background: #121212;
  }
  
  [data-theme="dark"] .card-widget {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#post {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#tag {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#archive {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#page {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#category {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#category {
    background: transparent !important;
  }
  /* 页脚透明 */
  #footer {
    background: transparent !important;
  }
  
  /* 头图透明 */
  #page-header {
    background: transparent !important;
  }
  
  #rightside > div > button {
    border-radius: 5px;
  }
  
  /* 滚动条 */
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3b70fc;
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #3b70fc;
  }
  
  /* 音乐播放器 */
  
  /* .aplayer .aplayer-lrc {
    display: none !important;
  } */
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all 0.3s;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    transition: all 0.3s;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }
  
  .aplayer.aplayer-fixed {
    z-index: 999999 !important;
  }
  
  /* 评论框  */
  .vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
  }
  
  /* 设置评论框 */
  
  .vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
  }
  
  /* 鼠标图标 */
  body {
    cursor: url("/img/x1.cur"), auto;
  }
  a,
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: url("/img/x2.cur"), auto !important;
  }
  /* md网站下划线 */
  #article-container a:hover {
    text-decoration: none !important;
  }
  
  #article-container #hpp_talk p img {
    display: inline;
  }
  
  /* 404页面 */
  #error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
  }
  
  #error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s;
  }
  
  #error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #3b70fc;
    background-position: center;
    background-size: cover;
  }
  
  #error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
  }
  #error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em;
  }
  #error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em;
  }
  #error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color);
  }
  
  #body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
  }
  
  #body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #body-wrap.error .aside-list .aside-list-item {
    padding: 0.5rem;
  }
  
  #body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  
  #body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--anzhiyu-card-bg);
    display: flex;
  }
  
  #body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 0.5rem;
    color: white;
  }
  
  #body-wrap.error .aside-list .aside-list-item .content time {
    display: none;
  }
  
  /* 代码框主题 */
  #article-container figure.highlight {
    border-radius: 10px;
  }

/* 安知鱼自定义颜色 Start*/
:root {
    --anzhiyu-theme-op: #4259ef23;
    --anzhiyu-gray-op: #9999992b;
    --anzhiyu-theme-top: var(--anzhiyu-theme);
    --anzhiyu-white: #fff;
    --anzhiyu-white-op: rgba(255, 255, 255, 0.2);
    --anzhiyu-black: #000;
    --anzhiyu-black-op: rgba(0, 0, 0, 0.2);
    --anzhiyu-none: rgba(0, 0, 0, 0);
    --anzhiyu-gray: #999999;
    --anzhiyu-yellow: #ffc93e;
    --anzhiyu-border-radius: 8px;
    --anzhiyu-main: var(--anzhiyu-theme);
    --anzhiyu-main-op: var(--anzhiyu-theme-op);
    --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
    --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
    --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
    --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
    --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
    --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
    --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--anzhiyu-card-border);
    --anzhiyu-blue-main: #3b70fc;
    --style-border-hover: 1px solid var(--anzhiyu-main);
    --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
    --style-border-avatar: 4px solid var(--anzhiyu-background);
    --style-border-always: 1px solid var(--anzhiyu-card-border);
    --anzhiyu-white-acrylic1: #fefeff !important;
    --anzhiyu-white-acrylic2: #fcfdff !important;
    --anzhiyu-black-acrylic2: #08080a !important;
    --anzhiyu-black-acrylic1: #0b0b0e !important;
    --anzhiyu-main-none: #b8b8b800 !important;
  }
  
  [data-theme="light"] {
    --anzhiyu-theme: #3b70fc;
    --anzhiyu-theme-op: #4259ef23;
    --anzhiyu-blue: #3b70fc;
    --anzhiyu-red: #d8213c;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #363636;
    --anzhiyu-background: #f7f9fe;
    --anzhiyu-reverse: #000;
    --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
    --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
    --anzhiyu-hovertext: var(--anzhiyu-theme);
    --anzhiyu-ahoverbg: #f7f7fa;
    --anzhiyu-lighttext: var(--anzhiyu-main);
    --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
    --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
    --anzhiyu-card-btn-bg: #edf0f7;
    --anzhiyu-post-blockquote-bg: #fafcff;
    --anzhiyu-post-tabs-bg: #f2f5f8;
    --anzhiyu-secondbg: #edf0f7;
    --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --anzhiyu-card-bg: #fff;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-card-border: #c0c6d8;
  }
  
  [data-theme="dark"] {
    --global-bg: #191919;
    --anzhiyu-theme: #0084ff;
    --anzhiyu-theme-op: #0084ff23;
    --anzhiyu-blue: #0084ff;
    --anzhiyu-red: #ff3842;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #f7f7fa;
    --anzhiyu-background: #18171d;
    --anzhiyu-reverse: #fff;
    --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
    --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
    --anzhiyu-hovertext: #0a84ff;
    --anzhiyu-ahoverbg: #fff;
    --anzhiyu-lighttext: #f2b94b;
    --anzhiyu-secondtext: #a1a2b8;
    --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
    --anzhiyu-card-btn-bg: #30343f;
    --anzhiyu-post-blockquote-bg: #000;
    --anzhiyu-post-tabs-bg: #121212;
    --anzhiyu-secondbg: #30343f;
    --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --anzhiyu-card-bg: #1d1b26;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-card-border: #42444a;
  }
/* 安知鱼自定义颜色 End*/

/*--------------------------------------*/
/* 安知鱼前置美化 End*/

/* 侧边栏样式 Start*/
/*--------------------------------------*/

/* tags样式 Start*/
#aside-content .card-tag-cloud a {
    color: var(--anzhiyu-fontcolor) !important;
    font-size: 1.05rem !important;
    border-radius: 8px;
    display: inline-block;
    margin-right: 4px;
  }
  #aside-content .card-tag-cloud a:hover {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-white) !important;
    box-shadow: var(--anzhiyu-shadow-theme);
  }
  @media screen and (min-width: 1300px) {
    #aside-content .card-tag-cloud a:hover {
      transform: scale(1.03);
    }
    #aside-content .card-tag-cloud a:active {
      transform: scale(0.97);
    }
  }
  #aside-content .card-tag-cloud a sup {
    opacity: 0.4;
    margin-left: 2px;
  }
/* 标签样式 End*/

/* 归档样式 Start*/
span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.5rem;
    line-height: 0.9;
    font-weight: 700;
  }
  .card-archive-list-count-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
    width: fit-content;
    margin-left: 4px;
  }
  span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.1rem;
    line-height: 0.9;
    font-weight: 700;
  }
  .card-archive-list-date {
    font-size: 14px;
    opacity: 0.6;
  }
  li.card-archive-list-item {
    width: 100%;
    flex: 0 0 48%;
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    color: var(--anzhiyu-white);
    background-color: var(--anzhiyu-theme);
    box-shadow: var(--anzhiyu-shadow-theme);
    border-radius: 8px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  @media screen and (min-width: 1300px) {
    #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
    #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
      transform: scale(1.03);
    }
    #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
    #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
      transform: scale(0.97);
    }
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a {
    border-radius: 8px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: var(--style-border);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
    width: auto;
    flex: inherit;
  }
  #aside-content .card-archives ul.card-archive-list,
  #aside-content .card-categories ul.card-category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
/* 归档样式 End*/

/* 最近文章样式 Start*/
#aside-content .aside-list > .aside-list-item .content > time {
    display: none;
  }
  #aside-content .aside-list > .aside-list-item .content > .title {
    -webkit-line-clamp: 3;
    font-weight: 700;
    padding: 2px 0;
  }
  #aside-content .aside-list > .aside-list-item {
    padding: 8px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border-radius: 12px;
    transition: 0.3s;
    margin: 4px 0;
    cursor: pointer;
  }
  @media screen and (min-width: 1300px) {
    #aside-content .aside-list > .aside-list-item:hover {
      transform: scale(1.03);
    }
    #aside-content .aside-list > .aside-list-item:active {
      transform: scale(0.97);
    }
  }
  #aside-content .aside-list > .aside-list-item:hover .thumbnail > img {
    transform: scale(1);
  }
  #aside-content .aside-list > .aside-list-item:not(:last-child) {
    border-bottom: 0 dashed var(--anzhiyu-background) !important;
  }
  #aside-content .aside-list > .aside-list-item .thumbnail {
    border-radius: 8px;
    border: var(--style-border);
  }
  #aside-content .aside-list > .aside-list-item:hover {
    background: var(--anzhiyu-blue-main);
    color: var(--anzhiyu-white);
    transition: 0.3s;
    box-shadow: var(--anzhiyu-shadow-main);
  }
  #aside-content .aside-list > .aside-list-item:hover a {
    color: var(--anzhiyu-white) !important;
  }
  .card-widget.card-recent-post {
    padding: 0.4rem 0.6rem !important;
  }
/* 最近文章样式 End*/

/*--------------------------------------*/
/* 侧边栏样式 Start*/


/* 加载渐变条 Start*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 4rem;
    background: #eaecf2;
    border: 1px #e3e8f7;
    overflow: hidden;
  }
  
  .pace-inactive .pace-progress {
    opacity: 0;
    transition: 0.3s ease-in;
  }
  
  .pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: absolute;
    z-index: 2000;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 1.5s ease infinite;
    background-size: 200%;
  }
  
  .pace.pace-inactive {
    opacity: 0;
    transition: 0.3s;
    top: -8px;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* 加载渐变条 End*/

/* 哔哩哔哩视频适配 Start*/
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    margin: 3% auto;
    text-align: center;
  }
  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
/* 哔哩哔哩视频适配 End*/

/* 友链样式 Start*/
.flink-list-item{
    width:calc(100% / 4 - 15px)!important;
}
@media screen and (max-width: 1250px) {
    .flink-list-item{
        width:calc(100% / 3 - 15px)!important;
    }
}
/* 友链样式 End*/

/* Page页面模糊背景 Start*/
.page #page:not(.home #page){
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
    padding-top: 0;
    backdrop-filter: none!important;
}
#page::before{
    position: fixed;
    z-index:-114;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    content:'';
    backdrop-filter: blur(10px);
    background:var(--lyx-white-acrylic2);
}
[data-theme="dark"] #page::before{
    background-color: var(--lyx-black-acrylic2)!important;
}
/* Page页面模糊背景 End*/

/* 加载动画 Start*/
.loading-img {
  background: url(https://bu.dusays.com/2022/10/29/635d11ccac58c.png) no-repeat center center;
  background-size: cover;
}
/* 加载动画 End*/

/* Twikoo评论系统样式 Start*/
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -60px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 14px 18px;
  background: #444;
  color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
  我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}
/* Twikoo评论系统样式 End*/

/* 文章目录 Start*/
#aside-content #card-toc .toc-content {
  margin: 10px -18px;
}
 #aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--heo-hovertext);
  background-color: var(--heo-card-bg);
  color: var(--heo-lighttext);
  font-weight: bold;
  font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: var(--heo-secondtext);
  cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: var(--heo-lighttext);
}
/* 文章目录 End*/

/*评论背景 Start*/
#twikoo .tk-content {
  background: rgb(213 213 213 / 60%);
  padding: 10px 15px;
  border-radius: 7px;
}
/*评论背景 End*/

/* 侧边栏个人信息卡片 Start*/
#aside-content>.card-widget.card-info {
  background: #fff url(https://bu.dusays.com/2022/12/01/6388c220aa2f6.png) top 33% center no-repeat;
  position: relative;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3b70fc;
  border-radius: 8px;
}
/* 侧边栏个人信息卡片 End*/

/* 导航栏样式 Start*/
#nav #nav-group {
  max-width: 1376px;
  justify-content: center
}

.layout {
  max-width: 1400px;
  justify-content: center
}

@media screen and (min-width: 1920px) {
  .layout.hide-aside {
      max-width: 1600px
  }

  #nav #nav-group, .layout {
      max-width: 1500px
  }
}

#nav {
  top: 0 !important;
  display: flex;
  justify-content: center;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#nav #nav-group {
  width: 100%;
  display: flex;
  position: relative
}

#nav .site-page::after {
  display: none
}

#nav .site-page {
  text-shadow: none;
  border-radius: 8px;
}

.page .sticky_layout {
  top: 50px !important
}

#post ~ .aside-content .sticky_layout {
  top: 70px !important
}

#nav.show {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  position: fixed;
  z-index: 91
}

#page-header.nav-fixed #nav.show, #page-header.not-top-img #nav.show {
  border-bottom: none
}

#page-header.not-top-img:not(.nav-fixed) #nav {
  background: var(--Jay-background) !important
}

#page-header.not-top-img #nav {
  transition: .3s;
  background: var(--Jay-maskbgdeep) !important;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media screen and (max-width: 768px) {
  #page-header.not-top-img #nav {
      background: var(--Jay-background)
  }
}

#nav a {
  border-radius: 8px;
  padding: 6px 12px !important;
}

@media screen and (min-width: 768px) {
  .menus_item:hover > a.site-page {
      color: var(--Jay-white) !important;
      background: var(--Jay-white-op);
      transition: .3s;
      box-shadow: var(--Jay-shadow-main)
  }

  .page .menus_item:hover > a.site-page {
      color: var(--Jay-white) !important;
      background: var(--Jay-main);
      transition: .3s;
      box-shadow: var(--Jay-shadow-main)
  }

  .nav-fixed .menus_item:hover > a.site-page {
      background-color: var(--Jay-main)
  }
}

.nav-fixed #nav #site-name span {
  color: var(--Jay-fontcolor);
  transition: .3s
}

#nav #site-name:hover i {
  color: var(--Jay-white)
}

#nav #menus {
  position: absolute;
  width: 100%;
}

#nav #site-name span {
  font-weight: 700 !important;
  font-size: 1.1rem;
}


@media screen and (min-width: 900px) {
  #nav #site-name {
      opacity: 1;
      transition: .3s;
      overflow: hidden
  }

  #nav #site-name span {
      transition: .3s
  }

  #nav #site-name:hover span {
      opacity: 0;
      transition: .3s
  }

  #page-header.nav-fixed #nav #site-name {
      opacity: 1;
      transition: .1s
  }

  #page-header.nav-visible #nav #site-name {
      opacity: 1;
      transition: .1s
  }

  #nav #site-name:after {
      background: url('https://cdn.jsdelivr.net/gh/Jayhrn/CDN/img/home.png') no-repeat 50% 50%;
      opacity: 0;
      position: absolute;
      display: flex;
      z-index: 1;
      width: 80px;
      height: 60px;
      content: "";
      transition: .3s;
      transition-timing-function: ease-in;
      transform: scale(.4)
  }

  .post #nav #site-name:hover {
      background: var(--Jay-white-op)
  }

  .nav-fixed #nav #site-name:hover {
      background: var(--Jay-main)
  }

  #nav #site-name:hover:after {
      opacity: 1;
      transform: translateY(0) scale(.3);
      transition-timing-function: ease-in
  }
}

.nav-fixed #nav #site-name span {
  color: var(--Jay-fontcolor);
  transition: .3s
}

#nav #site-name:hover span {
  color: var(--Jay-white)
}

.post-bg #nav #site-name {
  color: var(--Jay-white);
  transition: .3s
}

#nav #site-name {
  color: var(--Jay-white);
  padding: 0;
  transition: .3s;
  display: flex;
  height: 40px;
  width: 80px;
  justify-content: center;
  align-items: center;
  text-shadow: none
}

#nav #blog_name #site-name {
  position: relative
}

/*设置menu子元素边距*/
#nav .menus_item_child .site-page.child {
  padding: .5rem .8rem !important
}

#nav #menus {
  position: absolute;
  width: 100%
}

@media screen and (max-width: 768px) {
  #nav #menus {
      display: none
  }
}

#nav .menus_items {
  display: inline;
  position: absolute;
  text-align: center;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto
}

#menus > div.menus_items > div > a {
  letter-spacing: .2rem;
  font-size: 1.1rem;
}

#page-header.nav-fixed #nav div.menus_items[style*="opacity: 0;"] .nav {
  opacity: .3;
}

#page-header.nav-fixed #nav div.menus_items {
  opacity: 0;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#page-header.nav-fixed.nav-visible #nav div.menus_items {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#nav .menus_items .menus_item {
  padding: 0 .4rem !important
}

#nav .menus_items .menus_item .menus_item_child {
  padding: 6px 4px 8px 4px;
  background-color: var(--Jay-card-bg);
  border-radius: 12px;
  border: var(--style-border);
  box-shadow: var(--Jay-shadow-black);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#nav .menus_items .menus_item .menus_item_child:hover {
  border: var(--style-border-hover);
  box-shadow: var(--Jay-shadow-main)
}

#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex
}

#nav .menus_items .menus_item .menus_item_child li {
  margin: 0 .2rem;
  border-radius: 8px !important;
}

#nav .menus_items .menus_item .menus_item_child li:hover {
  background: 0 0;
  background: var(--Jay-main) !important;
  color: var(--Jay-white) !important;
  box-shadow: var(--Jay-shadow-main);
  transform: scale(1) !important;
  transition: .3s;
  border-radius: 8px !important;
}

#sidebar #sidebar-menus .menus_items .site-page:hover, #sidebar #sidebar-menus .sidebar-site-data a:hover {
  border-radius: 8px;
  background: var(--Jay-main);
  color: var(--Jay-white) !important;
}

/*设置电脑无向下箭头，而手机有*/
@media screen and (max-width: 768px) {
  .site-page i.fa-chevron-down {
      display: inline-flex !important;
  }
}

.site-page i.fa-chevron-down {
  display: none;
}


#sidebar #sidebar-menus .menus_items .site-page:hover, #sidebar #sidebar-menus .sidebar-site-data a:hover .headline, #sidebar #sidebar-menus .sidebar-site-data a:hover .length-num {
  color: var(--Jay-white) !important
}

#page-header.not-top-img {
  margin: 0
}

#nav a.site-page.child {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#nav a.site-page.child:hover {
  color: var(--Jay-main) !important;
  background: var(--Jay-main);
  box-shadow: var(--Jay-shadow-main)
}

#page-header.post-bg #nav #hotkey .site-page:hover, #page-header.post-bg #nav #site-name:hover, #page-header.post-bg #nav .menus_item > .site-page:hover {
  color: var(--Jay-white) !important;
  background: var(--Jay-main);
}

[data-theme=dark] #page-header.post-bg #nav #hotkey .site-page:hover, [data-theme=dark] #page-header.post-bg #nav #site-name:hover, [data-theme=dark] #page-header.post-bg #nav .menus_item > .site-page:hover {
  color: var(--Jay-white) !important;
  background: var(--Jay-main)
}

#page-header.post-bg #nav #hotkey .site-page, #page-header.post-bg #nav #site-name, #page-header.post-bg #nav .menus_item > .site-page {
  color: var(--Jay-white);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#page-header.not-top-img #nav #hotkey .site-page, #page-header.not-top-img #nav #page-name-text, #page-header.not-top-img #nav #site-name, #page-header.not-top-img #nav .menus_item > .site-page, #page-header.post-bg.nav-fixed #nav #hotkey .site-page, #page-header.post-bg.nav-fixed #nav #page-name-text, #page-header.post-bg.nav-fixed #nav #site-name, #page-header.post-bg.nav-fixed #nav .menus_item > .site-page {
  color: var(--Jay-fontcolor);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#page-header.not-top-img #nav #hotkey .site-page:hover, #page-header.not-top-img #nav #page-name-text:hover, #page-header.not-top-img #nav #site-name:hover, #page-header.not-top-img #nav .menus_item > .site-page:hover, #page-header.post-bg.nav-fixed #nav #hotkey .site-page:hover, #page-header.post-bg.nav-fixed #nav #page-name-text:hover, #page-header.post-bg.nav-fixed #nav #site-name:hover, #page-header.post-bg.nav-fixed #nav .menus_item > .site-page:hover {
  color: var(--Jay-white) !important;
  background: var(--Jay-main);
  box-shadow: var(--Jay-shadow-main);
}

#nav #page_name {
  position: absolute
}

@media screen and (max-width: 768px) {
  #nav #page_name {
      display: none !important
  }
}

#nav #page-name-text {
  opacity: 0;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-align: center;
  line-height: 1.2em;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-50px);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#page-header.nav-fixed #nav #page-name-text {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}

#page-header.nav-fixed.nav-visible #nav #page-name-text {
  opacity: 0;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px)
}

/* 设置hover返回顶部 */
#page-name-text > span::before {
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: var(--Jay-white) !important;
  top: 0;
  left: 0;
  content: '回到顶部';
  min-width: fit-content; 
  background-color: var(--Jay-theme);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  opacity: 0;
  box-shadow: 0 0 3px var(--Jay-theme);
  line-height: 40px; /*如果垂直位置不居中可以微调此值，也可以删了*/
}

#page-name-text > span:hover:before {
  opacity: 1;
}

#page-name-text:hover {
  scale: 1.03
}

#nav #hotkey {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  text-align: center
}

#nav #hotkey div {
  width: 40px;
  height: 40px;
  margin-left: .3rem;
  padding: 0 !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#nav #hotkey .site-page {
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  padding: 0 !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

#nav #hotkey #mode-button i {
  color: var(--Jay-sun-moon)
}

#nav #hotkey #mode-button i::before {
  content: '\f1bc'
}

#nav #hotkey #mode-button:hover i::before {
  content: '\ef6e'
}

[data-theme=dark] #nav #hotkey #mode-button i::before {
  content: '\ef6e'
}

[data-theme=dark] #nav #hotkey #mode-button:hover i::before {
  content: '\f1bc'
}

/* 控制导航栏滑动百分比显隐 */
header:not(.nav-fixed) #nav #hotkey #top-button {
  width: 0;
  opacity: 0;
  margin-left: 0
}

#nav #hotkey #top-button a.site-page {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: var(--font-color) !important;
  background: var(--Jay-card-bg)
}

#nav #hotkey #top-button:hover a.site-page {
  width: 40px;
  height: 40px;
  margin: 0;
  color: var(--Jay-secondtext) !important;
  background: var(--Jay-main)
}

#nav #hotkey #top-button i::before {
  content: attr(data-percent);
  position: absolute;
  left: 0;
  right: 0;
  font-size: 90%;
  line-height: 1.7em;
  white-space: nowrap;
  font-family: Jay
}

#nav #hotkey #top-button:hover i::before {
  content: '\f004';
  position: relative;
  font-family: unset;
  font-size: 100%
}

#nav-right{
  flex:1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap:nowrap;
}
.menus_item_child li:not(#sidebar-menus li){
  float: left;
  border-radius: 6px!important;
  -webkit-border-radius: 6px!important;
  -moz-border-radius: 6px!important;
  -ms-border-radius: 6px!important;
  -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
/*
  left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
改为：*/
left:50%;
translate:-50%;
}
/* 导航栏样式 End*/